ChongDingTerminator.xcodeproj/project.xcworkspace/xcuserdata/raymondlee.xcuserdatad/UserInterfaceState.xcuserstate
/ChongDingTerminator/.DS_Store
/ChongDingTerminator.xcodeproj/project.xcworkspace/xcuserdata/Dingli.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
/ChongDingTerminator.xcodeproj/xcuserdata/Dingli.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
